OpenESB/ConsultarOperadorUsuario/src/172.24.99.240_8080/UsuariosEJBService/UsuariosEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.umbrella.uniandes.edu.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.umbrella.uniandes.edu.co/" name="UsuariosEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.umbrella.uniandes.edu.co/" schemaLocation="http://172.24.99.240:8080/UsuariosEJBService/UsuariosEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarUsuario">
<part name="parameters" element="tns:consultarUsuario"/>
</message>
<message name="consultarUsuarioResponse">
<part name="parameters" element="tns:consultarUsuarioResponse"/>
</message>
<message name="consultarOperadorUsuario">
<part name="parameters" element="tns:consultarOperadorUsuario"/>
</message>
<message name="consultarOperadorUsuarioResponse">
<part name="parameters" element="tns:consultarOperadorUsuarioResponse"/>
</message>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario"/>
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse"/>
</message>
<portType name="UsuariosEJB">
<operation name="consultarUsuario">
<input wsam:Action="http://ejb.umbrella.uniandes.edu.co/UsuariosEJB/consultarUsuarioRequest" message="tns:consultarUsuario"/>
<output wsam:Action="http://ejb.umbrella.uniandes.edu.co/UsuariosEJB/consultarUsuarioResponse" message="tns:consultarUsuarioResponse"/>
</operation>
<operation name="consultarOperadorUsuario">
<input wsam:Action="http://ejb.umbrella.uniandes.edu.co/UsuariosEJB/consultarOperadorUsuarioRequest" message="tns:consultarOperadorUsuario"/>
<output wsam:Action="http://ejb.umbrella.uniandes.edu.co/UsuariosEJB/consultarOperadorUsuarioResponse" message="tns:consultarOperadorUsuarioResponse"/>
</operation>
<operation name="crearUsuario">
<input wsam:Action="http://ejb.umbrella.uniandes.edu.co/UsuariosEJB/crearUsuarioRequest" message="tns:crearUsuario"/>
<output wsam:Action="http://ejb.umbrella.uniandes.edu.co/UsuariosEJB/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
</operation>
</portType>
<binding name="UsuariosEJBPortBinding" type="tns:UsuariosEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarOperadorUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuariosEJBService">
<port name="UsuariosEJBPort" binding="tns:UsuariosEJBPortBinding">
<soap:address location="http://172.24.99.240:8080/UsuariosEJBService/UsuariosEJB"/>
</port>
</service>
</definitions>