OpenESB/ConsultarServiciosOperador/src/172.24.99.240_8080/TransaccionesEJBService/TransaccionesEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb.umbrella.uniandes.edu.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb.umbrella.uniandes.edu.co/">

<xs:element name="consultarOperadorUsuarioParaCompartir" type="tns:consultarOperadorUsuarioParaCompartir"/>

<xs:element name="consultarOperadorUsuarioParaCompartirResponse" type="tns:consultarOperadorUsuarioParaCompartirResponse"/>

<xs:element name="trasladarUsuarioDeOperador" type="tns:trasladarUsuarioDeOperador"/>

<xs:element name="trasladarUsuarioDeOperadorResponse" type="tns:trasladarUsuarioDeOperadorResponse"/>

<xs:complexType name="consultarOperadorUsuarioParaCompartir">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarOperadorUsuarioParaCompartirResponse">
<xs:sequence>
<xs:element name="return" type="tns:datosOperadorDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosOperadorDTO">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idOperador" type="xs:int"/>
<xs:element name="nit" type="xs:string" minOccurs="0"/>
<xs:element name="razonSocial" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="urlServicio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trasladarUsuarioDeOperador">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trasladarUsuarioDeOperadorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>